*{
    display: flex;
    justify-content: center;
   
}

.section{
    width: 816px;
    height: 816px;
    background-color: rgb(44, 27, 27);
    display: flex;
    flex-wrap: wrap;
    
}
.figur{
    margin: 1px;
    width: 100px;
    height: 100px;
transition: 0.5s;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
/* background-color: ; */
}
.figur:hover{
    opacity: 0.4;
    border-radius: 30px;
    transition: 0.2s;

}
